# =====================================================
# Application
# =====================================================
APP_NAME=Altron
APP_ENV=development
DEBUG=true
LOG_LEVEL=INFO

# =====================================================
# Database
# =====================================================
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/altron
REDIS_URL=redis://localhost:6379/0

# =====================================================
# AI (Groq)
# =====================================================
GROQ_API_KEY=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
DEFAULT_MODEL=llama-3.3-70b-versatile

# =====================================================
# Speech To Text (Faster-Whisper)
# =====================================================
WHISPER_MODEL=base
WHISPER_DEVICE=auto
WHISPER_COMPUTE_TYPE=int8

AUDIO_SAMPLE_RATE=16000
AUDIO_CHANNELS=1

# =====================================================
# Text To Speech (Edge-TTS)
# =====================================================
EDGE_TTS_VOICE=en-IN-NeerjaNeural
EDGE_TTS_RATE=+0%
EDGE_TTS_VOLUME=+0%
EDGE_TTS_PITCH=+0Hz

# =====================================================
# Wake Word (OpenWakeWord)
# =====================================================
WAKE_ENGINE=openwakeword
WAKE_WORD=Hey Altron
WAKE_MODEL=altron.onnx
WAKE_THRESHOLD=0.50
WAKE_TIMEOUT=10
WAKE_COOLDOWN=2

# =====================================================
# Audio
# =====================================================
MIC_DEVICE=default
SPEAKER_DEVICE=default